<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Bank Account</title>
    <link rel="stylesheet" href="/css/styles.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.5.1/css/all.css"/>
</head>
<body>
<div class="a13-main-content">
    <div class="a13-header">
        <h1 class="a13-page-title">Create New Bank Account</h1>
    </div>
    <div class="a13-user-register">
        <form class="a13-user-register-form" action="" method="post" style="height: 240px; justify-content: center; gap: 50px;">
            <div class="a13-form-line">
                <label class="a13-label">Choose an Account Name:</label>
                <input class="a13-input" type="text" th:field="${account.accountName}"/>
            </div>
            <div>
                <input class="a13-button" type="submit" value="Create Account"/>
            </div>
            <a class="a13-close" th:href="@{/users/{userId}(userId=${user.userId})}" ><i class="fa-solid fa-circle-xmark"></i></a>
        </form>
    </div>
</div>
</body>
</html>