<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Users</title>
    <link rel="stylesheet" href="/css/styles.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.5.1/css/all.css"/>
</head>
<body>
<div class="a13-main-content">
    <div class="a13-header">
        <h1 class="a13-page-title">Users</h1>
        <a class="a13-button" th:href="@{/register}" title="new user">
            Create new User
        </a>
    </div>

    <div class="a13-user-info" th:if="${#lists.size(users) == 1}">
        <form class="a13-form" th:action="@{'/users/' + ${user.userId}}" method="post">
            <h2>Edit Profile Info</h2>
            <div class="a13-form-line">
                <label class="a13-label">Username: </label>
                <input class="a13-input" type="text" th:field="${user.username}"/>
            </div>
            <div class="a13-form-line">
                <label class="a13-label">Full Name:</label>
                <input class="a13-input" type="text" th:field="${user.name}"/>
            </div>
            <div class="a13-form-line">
                <label class="a13-label">Password:</label>
                <input class="a13-input" type="password" placeholder="* * * * * * *" th:field="${user.password}"/>
            </div>
            <div class="a13-form-line">
                <label class="a13-label">Address Line 1:</label>
                <input class="a13-input" type="text" th:field="${address.addressLine1}">
            </div>
            <div class="a13-form-line">
                <label class="a13-label">Address Line 2:</label>
                <input class="a13-input" type="text" th:field="${address.addressLine2}">
            </div>
            <div class="a13-form-line">
                <label class="a13-label">City:</label>
                <input class="a13-input" type="text" th:field="${address.city}">
            </div>
            <div class="a13-form-line">
                <label class="a13-label">Region:</label>
                <input class="a13-input" type="text" th:field="${address.region}">
            </div>
            <div class="a13-form-line">
                <label class="a13-label">Country:</label>
                <input class="a13-input" type="text" th:field="${address.country}">
            </div>
            <div class="a13-form-line">
                <label class="a13-label">Zip Code:</label>
                <input class="a13-input" type="text" th:field="${address.zipCode}">
            </div>
            <div>
                <input class="a13-button" type="submit" value="Update User Profile"/>
            </div>
        </form>
        <form th:action="@{/users/{userId}/delete(userId=${user.userId})}" method="post">
            <input class="a13-button-2" type="submit" value="Delete User Account"/>
        </form>
        <hr class="a13-hr-small" style="margin-top:16px;">
        <div class="a13-user-account">
            <h2>Accounts</h2>
            <div th:each="account : ${user.accounts}">
                <a class="a13-link"
                   th:href="@{/users/{userId}/accounts/{accountId}(userId=${user.userId}, accountId=${account.accountId})}">[[${account.accountName}]]</a>
            </div>
        </div>
        <div class="user-buttons">
            <a th:href="@{/users/{userId}/accounts/new(userId=${user.userId})}" class="a13-button">
                <i class="fa-solid fa-circle-plus" style="padding-right:4px;"></i> Create New Account</a>
            <a class="a13-button" th:href="@{/users}">Back</a>
        </div>
    </div>

    <div class="a13-account-list" th:unless="${#lists.size(users) == 1}">
        <div th:each="user : ${users}">
            <div class="a13-user-card">
                <div class="a13-user">
                    <div class="a13-title">
                        <h2><strong>[[${user.name}]]</strong></h2>
                        <a th:href="@{/users/{userId}(userId=${user.userId})}" title="edit user"
                           class="a13-edit">
                            <i class="fa-regular fa-pen-to-square"></i>
                        </a>
                    </div>
                    <hr class="a13-hr-small"/>
                    <span><strong>User Id: </strong> [[${user.userId}]]</span>
                    <span><strong>Username: </strong> [[${user.username}]]</span>
                    <span><strong>Password: </strong> [[${user.password}]]</span>
                    <div th:each="address : ${user.address}">
                        <hr class="a13-hr-small"/>
                        <span><strong>Address: </strong>
                <div class="a13-address">
                <span>[[${address.addressLine1}]]</span>
                <span>[[${address.addressLine2}]]</span>
                <span>[[${address.city}]]</span>
                <span>[[${address.region}]]</span>
                <span>[[${address.country}]]</span>
                <span>[[${address.zipCode}]]</span>
                </div>
            </span>
                    </div>
                    <hr class="a13-hr-small"/>
                    <span><strong>Accounts:</strong></span>
                    <div th:unless="${#lists.size(user.accounts) == 0}">
                        <div class="a13-accounts">
                            <div th:each="account : ${user.accounts}">
                                <a class="a13-link"
                                   th:href="@{/users/{userId}/accounts/{accountId}(userId=${user.userId}, accountId=${account.accountId})}">[[${account.accountName}]]</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>